html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Merienda', cursive;
}

/*************************************** Navigation ***************************************/
nav {
  width: 100%;
  background-color: white;
  z-index: 10;
}

.nav-img-logo {
  height: 50px;
  margin-left: 5%;
  padding-top: 0;
}

.nav-logo {
  padding: 16px;
}

.nav-menu {
  margin-right: 5%;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.nav-ul li {
  padding: 16px;
  text-decoration: none;
}

.nav-ul li a {
  color: black;
  text-decoration: none;
}

/*************************************** Welcome ***************************************/
#welcome {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}

.carousel-caption {
  margin-bottom: 25%;
  text-shadow: 1px 1px gray;
}

.carousel-indicators {
  margin-bottom: 5%;
}

/*************************************** Restaurant ***************************************/
#restaurant {
  min-height: 100vh;
  width: 100%;
}

/***************************************    Menu    ***************************************/
#menu {
  min-height: 100vh;
  width: 100%;
}

/***************************************  Reservation  ***************************************/
#reservation {
  min-height: 100vh;
  width: 100%;
}

.reserve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 2px 2px gray;
}

.reservation-img {
  position: relative;
}

.reservation-time {
  position: absolute;
  right: 0;
}

/***************************************   Location   ***************************************/
#location {
  min-height: 100vh;
  width: 100%;
  background-color: cadetblue;
}

/*************************************** Media Query ***************************************/
@media only screen and (max-width: 1200px) {
  .carousel-indicators {
    margin-bottom: 20px;
  }
}

/* Large Screen */
@media only screen and (max-width: 992px) {
  .carousel-caption {
    margin-bottom: 20%;
  }
  .carousel-caption h2 {
    font-size: 35px;
  }
  .carousel-caption p {
    font-size: 20px;
  }
}

/* Medium Screen */
/* Small Screen */
@media only screen and (max-width: 600px) {
  .carousel-caption {
    margin-bottom: 15%;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-indicators {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */